.BarraLateral{
    position: absolute;
    
}
.CuadroBlanco{
    position: absolute;
    background-color: white;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi #000000;
    border-style: solid;
    border-color: green;
    width: 70vi;
    height: 47.5vi;
    top: 4.5vi;
    left: 25vi;
}
p{
    font-size: 2vi;
    position: absolute;
    left: 2vi;
}
/*----------1----------*/
.Cuadro1{
    position: absolute;
    background-color:#90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 6vi;
    left: 2vi;
}
.Imagen1{
    position: absolute;
    width: 8vi;
    height: 10vi;
    top: 2vi;
    left: 2.5vi;
}
.Cuadrito1{
    position: absolute;
    background-color: white;
    width: 13vi;
    height: 4vi;
    top: 12.95vi;
    left: -0.2vi;
    border-radius: 1vi; 
    border-style: solid;
    border-color: green;
}
.P1{
    position: absolute;
    font-size: 0.5vi;
    left: 1vi;
    top: -5vi;
}
.P2{
    position: absolute;
    font-size: 1vi;
    left: 2vi;
    top: 5vi;
}
.CuadroAgregar1{
    position: absolute;
    background-color: green;
    width: 5vi;
    height: 1.5vi;
    top: 1vi;
    left: 7.5vi;
    border-radius: 0.5vi; 
    text-align: center;
    font-size: 0.8vi;
    color: white;
}
/*----------2----------*/
.Cuadro2{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 6vi;
    left: 18vi;
}
.Cuadrito2{
    position: absolute;
    background-color: white;
    
}

/*----------3----------*/
.Cuadro3{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 6vi;
    left: 34vi;
}
.Cuadrito3{
    position: absolute;
    background-color: white;
    
}

/*----------4----------*/
.Cuadro4{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 6vi;
    left: 50vi;
}
.Cuadrito4{
    position: absolute;
    background-color: white;
    
}

/*----------5----------*/
.Cuadro5{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 27vi;
    left: 2vi;
}
.Cuadrito5{
    position: absolute;
    background-color: white;
    
}

/*----------6----------*/
.Cuadro6{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 27vi;
    left: 18vi;
}
.Cuadrito6{
    position: absolute;
    background-color: white;
    
}

/*----------7----------*/
.Cuadro7{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 27vi;
    left: 34vi;
}
.Cuadrito7{
    position: absolute;
    background-color: white;
    
}

/*----------8----------*/
.Cuadro8{
    position: absolute;
    background-color: #90EE90;
    border-radius: 2vi;
    box-shadow: 0vi 0vi 1vi 0vi green;
    width: 13vi;
    height: 17vi;
    top: 27vi;
    left: 50vi;
}
.Cuadrito8{
    position: absolute;
    background-color: white;
}
