<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrigos</title>
    <link rel="stylesheet" href="./StyleAbrigos.css">
</head>
<body>
    <section class="BarraLateral">
        <p class="TB1">CampusShop</p>
        <a class="Todos" href="./index.html">Todos los productos</a>
        <a class="Abrigos" href="./abrigos.html">Abrigos</a>
        <a class="Camisetas" href="./camisetas.html">Camisetas</a>
        <a class="Pantalones" href="./pantalones.html">Pantalones</a>
        <a class="Carrito" href="./carrito.html">Carrito</a>
    </section>
    <section Class="CuadroBlanco">
        <p>Abrigos</p>

        <div class="BarraLateralD"></div>

        <div class="Cuadro1">
            <img class="Imagen1" src="./Imagenes/Abrigos/abrigo1.png" alt="">
            <div class="Cuadrito1">
                <p class="P1">Abrigo 01</p>
                <p class="P2">$ 1.000</p>
                <p class="CuadroAgregar1">Agregar</p>
            </div>
        </div>
        
        <div class="Cuadro2">
            <img class="Imagen2" src="./Imagenes/Abrigos/abrigo2.png" alt="">
            <div class="Cuadrito2">
                <p class="P3">Abrigo 02</p>
                <p class="P4">$ 1.000</p>
                <p class="CuadroAgregar1">Agregar</p>
            </div>
        </div>

        <div class="Cuadro3">
            <img class="Imagen3" src="./Imagenes/Abrigos/abrigo3.png" alt="">
            <div class="Cuadrito3">
                <p class="P5">Abrigo 03</p>
                <p class="P6">$ 1.000</p>
                <p class="CuadroAgregar1">Agregar</p>
            </div>
        </div>

        <div class="Cuadro4">
            <img class="Imagen4" src="./Imagenes/Abrigos/abrigo4.png" alt="">
            <div class="Cuadrito4">
                <p class="P7">Abrigo 04</p>
                <p class="P8">$ 1.000</p>
                <p class="CuadroAgregar1">Agregar</p>
            </div>
        </div>

        <div class="Cuadro5">
            <img class="Imagen5" src="./Imagenes/Abrigos/abrigo5.png" alt="">
            <div class="Cuadrito5">
                <p class="P9">Abrigo 05</p>
                <p class="P10">$ 1.000</p>
                <p class="CuadroAgregar1">Agregar</p>
            </div>
        </div>
    
</body>
</html>