<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="./StyleCarrito.css">
</head>
<body>
    <section class="BarraLateral">
        <p class="TB1">CampusShop</p>
        <a class="Todos" href="./index.html">Todos los productos</a>
        <a class="Abrigos" href="./abrigos.html">Abrigos</a>
        <a class="Camisetas" href="./camisetas.html">Camisetas</a>
        <a class="Pantalones" href="./pantalones.html">Pantalones</a>
        <a class="Carrito" href="./carrito.html">Carrito</a>
    </section>
    <section Class="CuadroBlanco">
        <p>Carrito</p>

        <div class="BarraLateralD"></div>
</body>
</html>